<% include ../shared/header.ejs %>
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <h3>Courses
               <small>All courses</small>
            </h3>
            <div class="row">
              <div class="pull-right">
                <a href="/courses/create" class="btn btn-md btn-primary">
                  <i class="fa fa-plus"></i> Add Courses
                </a>
              </div>
              <div class="col-md-12">
                <table class="table table-responsive table-hover">
                  <thead>
                    <tr>
                      <th> ID </th>
                      <th> Name</th>
                      <th> Description </th>
                      <th> Fees </th>
                      <th> Duration </th>
                      <th> Shift </th>
                      <th>Created Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(i=data.length - 1; i >= 0; i--) { %>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].description %></td>
                        <td><%= data[i].fees %></td>
                        <td><%= data[i].duration %></td>
                        <td><%= data[i].shift %> </td> 
                        <td><%= data[i].date %></td>
                        <td>
                          <a href="/courses/delete/<%= data[i]._id %>" class="ajaxClick btn btn-danger btn xs">Delete
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                    <% } %> 
                  </tbody>
                </table>
              </div>
            </div>
         </div>
      </section>
      <!-- Page footer-->
<% include ../shared/footer.ejs %>
